@import '../../../assets/mixins';

.container {
  padding: 50px 75px;

  &__filter {
    margin-bottom: 25px;
  }

  &__results {
    @include flex(initial, space-between, center, wrap);
    margin-top: 45px;

    &__card-wrapper {
      margin: 22px 0;
    }
  }
}
