.container {
  padding: 50px 75px;

  &__filter {
    margin-bottom: 25px;
  }

  &__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

    &__card-wrapper {
      margin: 22px 0;
    }
  }
}
