@import '../../../../../assets/variables';
@import '../../../../../assets/mixins';

.card {
  width: 400px;

  &__img {
    height: 217px;
    object-fit: cover;
    margin-bottom: 25px;
  }

  &__content {
    padding: 0 25px;

    &__date {
      @include flex($align-items: center);
      font-size: 14px;
      color: $primary;
      margin-bottom: 25px;
      line-height: 21px;

      .mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-right: 8px;
      }
    }

    &__title {
      max-height: 58px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 24px;
      color: $primary;
      margin-bottom: 20px;
      line-height: 29.26px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      color: $primary;
    }
  }

  &__actions {
    padding: 0 25px 25px;

    &__btn {
      font-size: 16px;
      font-weight: $font-bold;
      line-height: 24px;

      &-wrapper {
        margin-top: 20px;
        @include flex($align-items: center);
        cursor: pointer;
      }
    }
  }
}
