<mat-card class="card">
  <img
    class="card__img"
    mat-card-image
    [src]="item.image_url"
    alt="source image"
  >
  <mat-card-content class="card__content">
    <p class="card__content__date">
      <!-- TODO: download the calendar icon-->
      <mat-icon>calendar_today</mat-icon>
      {{item.published_at | date:'MMMM d, yyyy'}}
    </p>
    <p
      class="card__content__title"
      [title]="item.title"
      [innerHtml]="item.title | highlighter:searchText"
    ></p>
    <p
      class="card__content__description"
      [innerHtml]="(item.summary | slice:0:MAX_SUMMARY_LENGTH) + continuationSign | highlighter:searchText"
    ></p>
  </mat-card-content>
  <mat-card-actions class="card__actions">
    <button
      class="card__actions__btn"
      mat-button
      (click)="btnClick.emit(item.url)"
    >
      Read more
      <!-- TODO: matSuffix doesn't work-->
      <mat-icon matButtonIcon matSuffix>arrow_right</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
