@mixin flex($flex-direction: initial, $justify-content: initial, $align-items: initial, $flex-wrap: initial) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}
